{{#if model}}
    <div class="panel">
        <div class="panel-header"><h3>{{scope}} day forecast</h3></div>
        <div class="panel-body">
            {{#each item in model.list}}
                <div class="col-xs-12">
                    {{#each weatherItem in item.weather}}
                        {{view 'weather-icon' valueBinding="weatherItem.icon" class='pull-left' tagName='span'}}
                    {{/each}}
                    <span class="col-xs-8 col-xs-offset-0 col-md-2 col-md-offset-1">
                            <em><b>{{date-format item.dt}}</b></em>
                    </span>
                    <span class="col-xs-8 col-md-2">
                        <span class="low-temp">{{item.temp.min}}</span>&deg; {{scale}} / <span class="high-temp">{{item.temp.max}}</span>&deg; {{scale}}
                    </span>
                    <span class="col-xs-8 col-md-2">
                        {{item.humidity}} &#37; Humidity
                    </span>
                    {{#each weatherItem in item.weather}}
                        <span class="col-xs-12 col-md-3">
                            {{weatherItem.main}} <i>({{weatherItem.description}})</i>
                        </span>
                    {{/each}}
                    <span class="col-xs-12 col-md-2">
                        {{compass-direction item.deg}} at {{item.speed}} {{wind-speed scale}}
                </span>
                </div>
            {{/each}}
        </div>
    </div>
{{else}}
    <div class="alert alert-info">
        <span class="fa fa-refresh fa-spin fa-2x"></span><span><h3>Forecast loading</h3></span>
    </div>
{{/if}}