<!-- Begin new location form -->
<div class="container">
    <form class="row navbar-form navbar-left" role="create" {{action 'commit' on='submit'}}>
        <div class="form-group">
            <div class="btn-group">
                {{input value=location.name class="form-control" placeholder="Enter Location"}}
            </div>
            {{view 'radio-button-group' contentBinding="tempScales" valueBinding="location.scale" }}
            {{view 'radio-button-group' contentBinding="forecastScopes" valueBinding="location.scope" }}
        </div>
        {{#if location.name}}
            <button type="submit" class="btn btn-default">
                <span><i class="fa fa-plus"></i></span>
                <span>Commit</span>
            </button>
        {{/if}}
    </form>
    {{#if errorMessage}}
        <div class="row">
            <div class="col-xs-12 col-md-8">
                <div class="alert alert-warning" role="alert">
                    {{errorMessage}}
                </div>
            </div>
        </div>
    {{/if}}
    <div class="row">
        <div class="col-xs-12 col-md-8">
            {{#if location.name}}
                <h3>Settings for <b>{{location.name}}'s</b> {{location.scope}} day forecast in {{location.scale}}&deg;
                </h3>
            {{/if}}
        </div>
    </div>
</div>